@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    /* tabs */
    .nav-tabs {
        @apply flex space-x-1 rounded-lg bg-slate-200/70 h-auto p-1.5 !important;
    }

    .tab-item {
        @apply data-[state=active]:bg-white data-[state=active]:shadow-md data-[state=active]:font-bold w-full rounded-md py-2 text-sm font-medium text-slate-600 focus:outline-none !important;
    }

    /* data table */
    .table-heading {
        @apply h-10 [&:first-child]:rounded-s [&:last-child]:rounded-e bg-slate-500 hover:bg-slate-500 text-white !important;
    }

    .table-row {
        @apply [&:nth-child(even)]:bg-gray-50 [&:nth-child(even)]:hover:bg-gray-100 hover:bg-gray-100 border-0 !important;
    }

    .table-cell {
        @apply py-2.5 [&:first-child]:rounded-s [&:last-child]:rounded-e !important;
    }

    /* breadcrumb */
    .breadcrumb {
        @apply flex items-center mb-4 overflow-x-auto;
    }

    .breadcrumb-item {
        @apply flex items-center;
    }

    .breadcrumb-link {
        @apply flex items-center gap-1 text-sm text-slate-700 mx-1 hover:text-indigo-600;
    }

    .breadcrumb-link.disabled {
        @apply text-slate-500 !important;
    }


}
